apturl
asgiref
blinker
Brlapi
certifi
cffi
chardet
click
colorama
command-not-found
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-environ
filelock
gunicorn
httplib2
idna
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
more-itertools
netifaces
oauthlib
olefile
packaging
pexpect
Pillow
pipenv
platformdirs
protobuf
psycopg
psycopg2-binary
ptyprocess
pycairo
pycparser
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
SecretStorage
six
sqlparse
systemd-python
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
virtualenv
virtualenv-clone
wadllib
xdg
xkit
zipp
