asgiref
certifi
chardet
click
colorama
crispy-bootstrap5
cryptography
distlib
dj-database-url
Django
filelock
idna
importlib-metadata
oauthlib
packaging
Pillow
pipenv
pycairo
pyparsing
python-dateutil
pytz
PyYAML
reportlab
requests
six
sqlparse
typing_extensions
urllib3
virtualenv
virtualenv-clone
zipp